.pixel-block {
    width: 7em;
    height: 10em;
}

.pixelized-heart {
    width: 1em;
    height: 1em;
    box-shadow: 1em 0em #f22613, 2em 0em #f22613, 4em 0em #f22613, 5em 0em #f22613,
        0em 1em #f22613, 1em 1em #f22613, 2em 1em #f22613, 3em 1em #f22613,
        4em 1em #f22613, 5em 1em #f22613, 6em 1em #f22613, 0em 2em #f22613,
        1em 2em #f22613, 2em 2em #f22613, 3em 2em #f22613, 4em 2em #f22613,
        5em 2em #f22613, 6em 2em #f22613, 1em 3em #f22613, 2em 3em #f22613,
        3em 3em #f22613, 4em 3em #f22613, 5em 3em #f22613, 2em 4em #f22613,
        3em 4em #f22613, 4em 4em #f22613, 3em 5em #f22613;
}