
body {

  position: relative;
  background-color: var(--pokemon-blue);
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 40px;
}

.search-container {
  position: relative;
}

.search-container .fa-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
}

#search-input-pokemon {
  width: 300px;
  height: 32px;
  border-radius: 16px;
  border: none;
  padding: 8px 16px 8px 32px;
  font-size: 14px;
}

.pokedex-wrapper {
  max-width: 1400px;
  margin: 40px auto;
}

#pokemon-cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 64px;
  margin-bottom: 64px;
}
.first-loader-container,
.loadmore-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: white;
}

/* -------------------- CARD ------------------------- */
.card {
  background-color: var(--blue-light);
  color: white;
  width: 200px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  filter: drop-shadow(2px 2px 4px black);
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.pokemon-name-container {
  flex: 1;
  padding: 16px;
}

.pokemon-img-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-img-container img {
  width: 180px;
  padding: 8px 16px 16px 16px;
  filter: drop-shadow(4px 8px 8px black);
}

.pokemon-stats-container {
  width: 100%;
  height: 80px;
  padding: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.pokemon-stats-container div {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* ------------------------------ Modal ---------------------------------------- */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.warn-container{
  color: red;
}
.fa-magnifying-glass,
.fa-circle-chevron-right,
.fa-circle-chevron-left {
  color: white;
  font-size: 32px;
  cursor: pointer;
}

.modal {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  width: 100%;
  height: 100%;
}

.modal-card {
  background-color: var(--blue-light);
  background-image: url(/assets/body_bg.png);
  width: 400px;
  border-radius: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
}
#close-modal {
  font-size: 32px;
  cursor: pointer;
}

.pokename-modal-container {
  padding: 8px 16px;
  display: flex;
  flex-flow: row wrap;
  padding: 16px;
}
.pokename-modal-container div:first-child {
  flex: 1;
}
.pokeimg-modal-container {
  height: 200px;
}
.pokeimg-modal-container img {
  width: 180px;
  padding: 8px 16px 16px 16px;
  filter: drop-shadow(4px 8px 8px black);
}

.pokemon-info-container {

  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  border-radius: 16px 16px 0 0;
  margin-top: -15px;
}

.search-tabs {
  display: flex;
  justify-content: space-evenly;

  padding: 2px 0px 0 0;
  height: 50px;
}

.tab {
  width: 33%;
  padding: 8px;
  border-radius: 16px 16px 0 0;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  text-align: center;
}

.tab:not(.active-tab):hover {
  background-color: rgb(78, 78, 78);
}

.active-tab {
  background-color: rgb(78, 78, 78);

  z-index: 2;
  position: relative;
}

.tab-content {
  background-image: url(/assets/body_bg.png);
  height: 300px;
  overflow-y: auto;
  display: none;
}

.about-info,
.stats-info,
.evo-chain-info {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 32px 32px;

  gap: 16px;
}

.short-facts div {
  gap: 64px;
}
.short-facts div,
.stats div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.stats div {
  gap: 24px;
}
.stats div p:first-child {
  width: 100px;
  text-align: left;
}

.stats-info .stats {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 8px;
}

.ability-headline {
  text-align: left;
  width: 100%;
}
.abilities-container {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}
.ability {
  text-align: left;
}

.tab-content.active {
  display: block;
}

progress {
  height: 12px;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  flex: 1;
}

progress::-webkit-progress-bar {
  background-color: #ccc;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: var(--pokemon-blue, #4852e4);
  border-radius: 10px 0 0 10px;
}

progress::-moz-progress-bar {
  background-color: var(--pokemon-blue, #4852e4);
  border-radius: 10px 0 0 10px;
}

.evochain-container {
  display: flex;
  align-items: center;
  gap: 24px;
}
